* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: white;
    margin: 13px;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.divPrimaryLeft {
    flex: 1.8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: aqua;
}

.buttonmenu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}


.divPrimarycentral {
    flex: 3;
}
.imgProdutosOrdinary {
    height: 100%;
    width: 100%;
}
.descripitionOrdinary {
    position:relative;
    margin-top: -850px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.h1Ordinary {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.divPrimaryright {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.explore {
    height: 50%;
    border-top-right-radius: 10px;
    background-color: rgb(19, 221, 19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgExplore {
    height: 50%;
    width: 50%;
}

.education {
    height: 50%;
    border-bottom-right-radius: 10px;
    background-color: yellow;
}
.imgeducation {
    height: 30%;
    width: 100%;
}