* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(134, 129, 108, 0.589);
    height: 100vh;
}
.menu {
    display: flex;
    position: absolute;
    margin-bottom: 64%;
    margin-left: 88%;
    gap: 8px;
}
.buttonMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: black;
}
.imgMais {
    height: 50%;
    width: 50%;
    filter: invert(1);
}
.imgZoom {
    filter: invert(1);
}
.buttonMenu:hover {
    background: rgba(179, 105, 20, 0.644);
}

.divGeneral {
    display: flex;
    height: 75vh;
    width: 87vw;
    border-radius: 18px;
    gap: 10px;
    padding: 11px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.divPrimaryLeft {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.buttonmenu {
    width: 16px;
    height: 2px;
    background-color: black;
    margin: 3px 0;
}

.okyoMenu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.5rem;
}

.okyoMenu button {
    background: none;
    border: none;
    font-size: 14px;
}

.okyoMenu button:hover {
    background: rgba(179, 105, 20, 0.644);
}

.h1Perfect {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
}

.routine {
    margin-top: -13px;
}

.descriptionPDivLeft {
    font-size: 13px;
}

.descriptionH1 {
    font-size: 13px;
    color: grey;
    margin-bottom: 2.5rem;
}

.buttonShopDivLeft {
    border: none;
    background-color: inherit;
    display: flex;
    color: grey;
    margin-bottom: 2.7rem;
}

.buttonShopDivLeft:hover {
    background: rgba(179, 105, 20, 0.644);
}

.balls {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}



.divPrimarycentral {
    flex: 2.2;
}

.imgProdutosOrdinary {
    height: 100%;
    width: 100%;
}

.descripitionOrdinary {
    position: relative;
    margin-top: -132%;
}

.h1Ordinary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.5px;
    font-size: 2cap;
    margin-left: 2.5rem;
}

.h1Shop {
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 10px;
    background-color: white;
}

.h1Collection {
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 25px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttonOrdinary {
    padding: 9px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    color: rgba(255, 255, 255, 0.63);
    background-color: black;
    border-radius: 2px;
    border: none;
    margin-top: 1rem;
    margin-left: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttonOrdinary:hover {
    background: rgba(179, 105, 20, 0.644);
}


.divPrimaryright {
    flex: 1.18;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.explore {
    height: 51%;
    background-color: rgba(175, 112, 75, 0.747);
    border-top-right-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonexplore {
    border: none;
    color: white;
    background: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 17px;
}

.buttonexplore:hover {
    background: rgba(179, 105, 20, 0.644);
}

.imgExplore {
    height: 50%;
    width: 55%;
    border-top-left-radius: 46%;
    border-top-right-radius: 46%;
    margin-top: 25px;
}

.shopNow {
    color: rgba(223, 223, 223, 0.781);
    background: none;
    border: solid rgba(223, 223, 223, 0.637);
    border-width: 1.8px;
    margin-top: 32px;
    padding: 5px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 2px;
}

.shopNow:hover {
    background: rgba(179, 105, 20, 0.644);
}



.education {
    height: 49%;
}

.imgeducation {
    height: 35%;
    width: 100%;
}

.allLowImgEducation {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1.5rem;
    gap: 12px;
}

.h1Education {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.2rem;
}

.pEducation {
    color: rgb(109, 109, 109);
    font-size: 13px;
}

.buttonEducation {
    border: none;
    background-color: inherit;
    display: flex;
    color: rgb(109, 109, 109);
}

.buttonEducation:hover {
    background: rgba(179, 105, 20, 0.644);
}

@media screen and (max-width: 986px) {
    .divGeneral {
        justify-content: center;
        flex-direction: column;
        height: 160rem;
    }

    .divPrimaryLeft {
        align-items: center;
        margin-top: 55rem;
    }

    .okyoMenu {
        display: flex;
        gap: 10rem;
        margin-bottom: 30px;
    }

    .descripitionOrdinary {
        display: none;
    }
}